body {
    margin: 0px;
}

nav {
    height: auto;
    padding: 10px 40px;
    background-color: #F0E9DE;
}

nav > ul {
    float: right;
    display: inline;
}

li {
    width: auto;
    display: inline;
    text-decoration: none;
    height: auto;
    border-right: 1px solid #D8B553;
}

li > a {
    color: #52A4A6;
    text-decoration: none;
    font-size: 16px;
}